.signup{
    background-color: white;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
}

#left{
    background-image: url('../../public/cake.png');
    background-size: cover;
    background-position: center;
}

#right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sign-in{
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#logbtn{
    margin-top: 20px;
    width: 48%;
    height: 50px;
    border-radius: 10px;
    font-size: medium;
    font-weight: 900;
    border-width: 2px;
    border-style: solid;
    border-color: #FF1616;
    color: white;
    background-color: #FF1616;
    transition: all 500ms ease-in;
    &:hover{
        background-color: white;
        color: #FF1616;
    }
}

#forsign-in{
    margin-bottom: 8%;
    width: 82%;
    color: black;
    font-family: Calibri;
    font-size: 40px;
    font-weight: 900;
    text-align: start;
}

#email-label{
    background-color: white;
    position: absolute;
    font-weight: 600;
    padding-left: 5px;
    margin-right: 16%;
    margin-bottom: 1.8%;
    width: 60px;
    font-family: Calibri;
}

#email{
    font-family: Calibri;
    padding-left: 10px;
    font-size: large;
    font-weight: 600;
    width: 80%;
    height: 45px;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: gray;
    outline: none;
    &:focus{
        border-color: #1A70E0;
    }
}

#password-label{
    background-color: white;
    position: absolute;
    font-weight: 600;
    width: 70px;
    margin-right: 15.5%;
    padding-left: 5px;
    margin-top: 5.8%;
    font-family: Calibri;
    z-index: 1000;
}

#password{
    font-family: Calibri;
    margin-top: 20px;
    padding-left: 10px;
    font-size: large;
    font-weight: 600;
    width: 80%;
    height: 45px;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: gray;
    outline: none;
    &:focus{
        border-color: #1A70E0;
    }
}

#link-box{
    width: 47.5%;
}

#forgot-link{
    font-size: 15.5px;
    font-family: Calibri;
    font-weight: 500;
    color: #1A70E0;
}

#div-pass{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#hide{
    margin-top: 20px;
    margin-left: 72%;
    height: 20px;
    width: 20px;
    position: absolute;
}
